/* Superfish Menu bar */
#menu-bar-wrapper {
  background: #b81e0d;
}
#menu-bar-wrapper ul.menu li {
  background: none;
}
#menu-bar-wrapper ul.menu li a.active {
  background: #434343;
}
#menu-bar-wrapper a:focus,
#menu-bar-wrapper a:hover {
  color: #d9d9d9;
}
#menu-bar-wrapper ul.menu ul {
  border: none;
}
#menu-bar-wrapper ul.menu li a:hover,
#menu-bar-wrapper ul.menu li a:focus,
#menu-bar-wrapper ul.menu li a:active,
#menu-bar-wrapper ul.menu li a.active {
  background: #2f2f2f;
}
.responsive-menu-button:before {
  content: '\f0c9 ';
  display: inline-block;
  font-family: FontAwesome;
  font-size: larger;
  font-style: normal;
  font-weight: normal;
  margin-right: 3px;
  text-decoration: inherit;
}

/* Sidebar Search */
.block-islandora-solr #edit-simple {
  border-spacing: 2px;
  display: table;
  width: 100%;
}
.block-islandora-solr .form-item-islandora-simple-search-query,
.block-islandora-solr .edit-submit {
  display: table-cell;
}
.block-islandora-solr .form-item-islandora-simple-search-query,
.block-islandora-solr #edit-islandora-simple-search-query {
  width: 100%;
}
span.button input.form-submit {
  background: #434343;
  text-transform: capitalize;
}

/* Front Search panel */
#home-search-block {
  text-align: center;
}
#home-search-block #edit-islandora-simple-search-query {
  width: 49%;
}

.table {
  width: 100%;
}

/* Pager */
ul.pager {
  margin: 1em 0;
}
.item-list {
  width: 100%;
}
.item-list ul.pager li.pager-current,
.item-list ul.pager li.pager-ellipsis,
.item-list ul li a {
  padding: .5em 1em;
}
.item-list ul li a {
  background: #434343;
  color: #fff;
}
.item-list ul li a:focus,
.item-list ul li a:hover {
  background: #b81e0d;
}

/* Footer */
#breadcrumb-wrapper {
  border-top: none;
  margin: 0;
}
#breadcrumb-wrapper .element-invisible {
  display: none;
}
#breadcrumb-wrapper ol li a:focus,
#breadcrumb-wrapper ol li a:hover,
#breadcrumb-wrapper ol li a:active {
  color: #333;
}

#footer-wrapper .container {
  background: none;
}
#footer-wrapper .grid-inner {
  background: #434343;
  border-radius: 5px;
  border-top: none;
  margin: 0;
  padding: 15px 10px;
}
#footer li {
  margin-top: .5em;
}
#footer a.btn-btt {
  background: #434343;
  color: #bbbdbf;
  padding: .5em 1em;
}
#footer a.btn-btt:focus,
#footer a.btn-btt:hover {
  background: #b81e0d;
  color: #fff;
}
#footer a.btn-btt:before {
  content: '\f077';
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  margin-right: 4px;
  text-decoration: inherit;
}
#footer .menu a[href="/user/login"]:before {
  content: '\f023';
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  margin-right: 4px;
  text-decoration: inherit;
}
#footer .menu a[href="/user"]:before {
  content: '\f007';
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  margin-right: 4px;
  text-decoration: inherit;
}
#footer .menu a[href="/user/logout"]:before {
  content: '\f011';
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  margin-right: 3px;
  text-decoration: inherit;
}

/* Hide facet '+' and '-' links */
.plusminus {
  display: none;
}

/* Islandora solr search results: consistent table row border */
.table td {
  border-bottom: 1px dotted #ccc;
}
